name: "Metrics"

on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow when pushing on master/main
  push:
    branches: [main]
  # (optional) Run workflow manually
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: "Production"
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS }}
      - name: "Calendar"
        uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.METRICS }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year